.mainBody {
	display: flex;
	flex-direction: column;
}

.createBoxes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.createStudent {
	border: solid 1px black;
	width: 45%;
	padding: 2rem;
	margin: 1rem;
}

.createSchool {
	border: solid 1px black;
	width: 45%;
	padding: 2rem;
	margin: 1rem;
}

.unenrolled {
	border: solid 1px black;
	padding: 2rem;
	margin: 1rem;
	flex-basis: 28%;
}
.lists {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.school {
	border: solid 1px black;
	padding: 2rem;
	margin: 1rem;
	flex-basis: 28%;
}

button {
	height: 1rem;
	width: 2rem;
}

.schoolsList {
	display: flex;
	flex-direction: row;
}
