.outerBox {
	display: flex;
	flex-direction: column;
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 2rem;
	margin: 1rem;
	border-bottom: 3px solid white;
}

.innerBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.addMovie {
	flex-grow: 1;
	margin: 1rem;
}

.movieList {
	flex-grow: 3;
	margin: 1rem;
}

.film {
	display: flex;
	flex-direction: row;
	border: 1px solid;
	margin: 2rem;
	padding: 2rem;
	color: rgba(224, 213, 190, 0.845);
	background-size: 100% 100%;
	opacity: 95%;
}

.listContainer {
	display: flex;
	flex-direction: row;
}

li {
	list-style-type: none;
}

body {
	font-size: 16px;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 700;
	font-style: normal;
	font-variant: small-caps;
	background-image: url("https://media.istockphoto.com/vectors/illustration-of-film-reel-stripe-on-abstract-background-vector-id893522844?k=6&m=893522844&s=170667a&w=0&h=Y0YAPQcDgwlwMU0oFZHHkbqUQwd_w1hE8BnCGk8dhcw=");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.filmInfo {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.ratingInfo {
	display: flex;
	flex-direction: column;
}

form {
	padding: 1rem;
	margin: 1rem, 1rem, 1rem, 0;
}

.dayList {
	font-size: smaller;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.film button {
	margin: 1rem;
}
